.Login-Card{
    display: flex;
}
.Main-Div{
    background: url(../assets/academy.jpg) center center no-repeat;
    height: 100vh;
    background-size: 100% 100%;
}
.Row-Div{
    width: 24rem;
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 1vh;
    border: none;
}
.Col-Div{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.CheckBox-align{
   display: flex;
   gap: 0.5rem;
}
.Button-align{
    display: flex;
    width: 45rem;
}
.Button-Size{
    width: 45rem;
    text-align: center;
}
.Forgot-Password{
    display: flex;
    flex-direction: row;
    gap: 55%;
}
.SignUp-Card{
    display: flex;
    width: 86rem;
    height: 20vh;
}
.SignUp-Toggle-Card{
    display: flex;
    width: 86rem;
    height: 70vh;
}
.SignUp-Toggle h1{
    text-align: left;
}
.SignUp-Toggle-Card .Row-Div{
    width: 83rem;
    display: flex;
    text-align: center;
    flex-direction: row;
    gap: 1rem;
    padding: 15px;
}
.signUp-Submit{
    display: flex;
    top: 10px;
    width: 5rem;
    float: right;
}